# Package Managers
**/vendor
**/composer.lock
**/node_modules
**/package-lock.json

!src/Resources/public/vendor/

# Test and Caches
phpunit.xml.*
.phpunit.result.cache
.phpunit.cache

# Project specific
TODO.md
NOTES.md