<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>LedgerDirect - XRPL Settings</title>
        <title lang="de-DE">LedgerDirect - XRPL Einstellungen</title>

        <input-field type="bool">
            <name>useXrplTestnet</name>
            <label>Use Testnet</label>
            <label lang="de-DE">Testnet verwenden</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="text">
            <name>xrplMainnetDestinationAccount</name>
            <label>Merchant Wallet Address (Mainnet)</label>
            <label lang="de-DE">Addresse des Händler-Wallets (Mainnet)</label>
        </input-field>

        <input-field type="text">
            <name>xrplTestnetDestinationAccount</name>
            <label>XRPL Merchant Wallet Address (Testnet)</label>
            <label lang="de-DE">Addresse des Händler-Wallets (Testnet)</label>
        </input-field>

        <!--
        <input-field type="bool">
            <name>xrplIsRlusdEnabled</name>
            <label>Enable RLUSD Payments</label>
            <label lang="de-DE">Zahlungen mit RLUSD aktivieren</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>xrplIsUsdcEnabled</name>
            <label>Enable USDC Payments</label>
            <label lang="de-DE">Zahlungen mit USDC aktivieren</label>
            <defaultValue>false</defaultValue>
        </input-field>
        -->
    </card>

</config>